.back-form{
    background-color: var(--back-color2);
    width: 450px;
    height: 55%;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 4px 4px 40px 9px var(--uva);
}
.back-form .close{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px;
}
.close{
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 6px;
}
.close:hover{
    color: var(--pink-primary);
    font-weight: 500;
}
.form{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0px 0px 0px 0px;
}
.form label{
    text-align: center;
    color: var(--pink-secundary);
    font-weight: 600;
    font-size: 28px;
}
.form textarea{
    padding: 4px;
    font-size: 18px;
    margin: 24px 24px 12px 24px;
    resize: none;
    background-color: transparent;
    border: 2px solid var(--pink-primary);
    color: var(--pink-secundary);
}

.button-content button{
    margin: 8px;
    background-color: transparent;
    border: 2px solid var(--pink-primary);
    border-radius: 4px;
    padding: 5px;
    color: var(--pink-secundary);
    font-size: 1.2rem;
    font-weight: 400;
}
.button-content button:hover{
    background-color: var(--pink-primary);
    color: var(--pink-secundary);
    border: none;
}
.error{
  align-items: center;
  text-align: center;
  color: var(--blue-secundary) !important;
  font-weight: 400;
  font-size: 1.2rem !important;
    
}