:root{
  --uva: #473768;
  --blue-primary:#0716e4;
  --blue-secundary:#91aaf6;
  --blue-info:#04049a;
  --pink-primary:#b0508a;
  --pink-secundary:#d29ead;
  --back-color: #07050f;
  --back-color2: #1a1a1b;
  --purple-secundary:#1c1264;

}
body{
  background-color: var(--back-color2);
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
